node_modules
dist
dev-dist

# Variables d'environnement (ne jamais commiter)
.env
.env.local
.env.work
.env.main

# Fichiers backup
*.backup
*.backup-*
*.OLD-*
